@media screen and (max-width:725px) {
    header {
        nav {
            div {
                justify-content: center;
                flex-direction: row-reverse;
            }
        }
    }
}

@media screen and (max-width:937px) {
    main {
        .hero {
            flex-direction: column;

            img {
                width: 410px;
                height: 410px;
            }

            p {
                text-align: center;
            }
        }
    }

    footer {
        justify-content: center;

        .contacto-contenedor {
            .contenedor {
                .contacto {
                    img {
                        width: 40px;
                        height: 40px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 811px) {
    main {
        .pilares-de-trabajo {
            h1 {
                font-size: 32px;
            }

            .pilares-de-trabajo-contenedor {
                flex-direction: column;
                align-items: center;

                .pilares-de-trabajo-card {
                    width: 50%;
                }
            }
        }
    }

    footer {
        .contacto-contenedor {
            .contenedor {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 701px) {
    main {
        .hero {
            img {
                width: 380px;
                height: 380px;
            }

            p {
                font-size: 24px;
            }
        }

        .pilares-de-trabajo {
            .pilares-de-trabajo-contenedor {
                .pilares-de-trabajo-card {
                    img {
                        height: 280px;
                        padding: 5px;
                    }
                }
            }
        }

        .caballero {
            .linea-aprendizaje {
                max-width: 400px;
            }

            .caballero-armadura-oxidada {
                p {
                    font-size: 24px;
                    text-align: center;
                }
            }

            .video-caballero {
                iframe {
                    height: 400px;
                }
            }
        }
    }
}

@media screen and (max-width: 551px) {
    main {
        .pilares-de-trabajo {
            .pilares-de-trabajo-contenedor {
                .pilares-de-trabajo-card {
                    width: 300px;
                    height: 400px;

                    img {
                        width: 200px;
                        height: 210px;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 333px) {
    main {
        .hero {
            img {
                width: 260px;
                height: 260px;
            }

            p {
                font-size: 20px;
            }
        }

        .pilares-de-trabajo {
            h1 {
                font-size: 28px;
            }

            .pilares-de-trabajo-contenedor {
                .pilares-de-trabajo-card {
                    width: 270px;
                    height: 370px;

                    img {
                        width: 180px;
                        height: 200px;
                        padding: 7px;
                    }

                    h2 {
                        font-size: 21px;
                    }

                    .linea {
                        max-width: 170px;
                    }

                    p {
                        font-size: 17px;
                    }
                }
            }
        }

        .caballero {
            h3 {
                font-size: 29px;
                margin: 27px;
            }

            .linea-aprendizaje {
                max-width: 200px;
            }

            .caballero-armadura-oxidada {
                p {
                    font-size: 20px;
                }

                img {
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }
}

@media screen and (max-width:985px) {
    footer {
        justify-content: center;

        .contacto-contenedor {
            .contenedor {
                .contacto {
                    img {
                        width: 40px;
                        height: 40px;
                        margin: 10px;
                    }

                    p {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    .que-hacemos-sesiones {
        div {
            h1 {
                font-size: 38px;
            }

            p {
                font-size: 30px;
            }
        }
    }

    .que-hacemos {
        div {
            width: 210px;
            height: 300px;
            margin: 15px;
            padding: 15px;

            img {
                width: 100%;
                height: 150px;
            }

            p {
                font-size: 19px;
            }
        }
    }

    .principito-frase {
        font-size: 25px;
    }
}

@media screen and (max-width:951px) {
    footer {
        justify-content: center;

        .contacto-contenedor {
            .contenedor {
                .contacto {
                    img {
                        width: 40px;
                        height: 40px;
                        margin: 10px;
                    }

                    p {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:827px) {
    footer {
        .contacto-contenedor {
            .contenedor {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width:581px) {
    main {
        .que-hacemos-sesiones {
            div {
                h1 {
                    font-size: 35px;
                }

                p {
                    font-size: 23px;
                }
            }
        }

        .que-hacemos {
            flex-direction: column;
            align-items: center;

            div {
                height: 300px;

                p {
                    color: #1453c0;
                    font-size: 20px;
                    text-align: center;
                }
            }
        }

        .principito-frase {
            font-size: 20px;
        }
    }
}

@media screen and (max-width:317px) {
    main {
        .que-hacemos-sesiones {
            height: 280px;

            div {
                h1 {
                    font-size: 28px;
                }

                .linea-hacemos-sesiones {
                    max-width: 200px;
                }

                p {
                    font-size: 20px;
                }
            }
        }

        .principito-frase {
            font-size: 20px;
        }
    }
}

@media screen and (max-width:865px) {
    .quienes-somos {
        .quienes-somos-contenido {
            text-align: center;

            h1 {
                font-size: 30px;
            }

            p {
                font-size: 22px;
            }
        }
    }

    .mision {
        font-size: 25px;
    }

    .valores {
        h2 {
            font-size: 30px;
        }

        div {
            max-width: 300px;
        }
    }
}

@media screen and (max-width:713px) {
    .quienes-somos {
        flex-direction: column;
        align-items: center;

        img {
            width: 260px;
            height: 300px;
        }
    }

    .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:531px) {
    .grid-galeria {
        grid-template-columns: repeat(1, 1fr);

        .grid-item {
            display: flex;
            justify-content: center;

            img {
                width: 80%;
            }

            p {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width:1075px) {
    main {
        .sesiones {
            div {
                h2 {
                    font-size: 28px;
                }

                p {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width:907px) {
    main {
        .sesiones {
            flex-direction: column;
            align-items: center;

            div {
                width: 85%;

                h2 {
                    font-size: 29px;
                }

                p {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width:809px) {
    main {
        .sesiones {
            div {
                h2 {
                    font-size: 29px;
                }

                p {
                    font-size: 23px;
                }
            }
        }

        .preguntas-frecuentes {
            h3 {
                font-size: 30px;
            }

            div {
                .accordion-item {
                    h3 {
                        button {
                            font-size: 20px;
                        }
                    }

                    div {
                        .accordion-body {
                            p {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:579px) {
    main {
        .sesiones {
            div {
                h2 {
                    font-size: 27px;
                }

                p {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width:387px) {
    main {
        .que-hacemos-sesiones {
            div {
                h1 {
                    font-size: 28px;
                }

                .linea-hacemos-sesiones {
                    max-width: 200px;
                }

                p {
                    font-size: 20px;
                }
            }
        }

        .sesiones {
            div {
                height: 30%;

                img {
                    width: 130px;
                    height: 130px;
                }

                h2 {
                    font-size: 23px;
                    padding: 10px;
                }

                p {
                    font-size: 16px;
                    text-align: center;
                }
            }
        }

        .preguntas-frecuentes {
            h3 {
                font-size: 25px;
            }

            div {
                .accordion-item {
                    h3 {
                        button {
                            font-size: 18px;
                        }
                    }

                    div {
                        .accordion-body {
                            p {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:863px) {
    .contactanos {
        h1 {
            font-size: 32px;
        }
    }

    .ubicacion-contenedor {
        flex-direction: column;
        height: 500px;
    }

    .formulario {
        form {
            .formulario-contenedor {
                .formulario-card {
                    div {
                        .form-label {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .mapa-frase {
        flex-direction: column;

        .frase-flor-loto {
            p {
                font-size: 29px;
            }
        }
    }
}

@media screen and (max-width:653px) {
    .contactanos {
        h1 {
            font-size: 30px;
        }

        div {
            max-width: 300px;
        }
    }
}